{% extends 'main.html' %} {% block content %}
<header>
    <div class="logo">Ask</div>
    <div class="pages">
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}">Welcome {{ user.username }}</a>
        {% else %}
        <a href="/">Welcome User</a>
        {% endif %}
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'all_blog' %}">Search</a>
        {% if user.is_authenticated %}
        <a href="{% url 'signout' %}">Logout</a>
        {% else %}
        <a href="{% url 'signin' %}">Login</a>
        {% endif %}
    </div>
</header>

<div class="container">
    <div class="wrapper">
        <h4>About</h4>
        <hr />
        <div>
            <p>It is high quality content generator from youTube using Artificial Intelligence. It also allow user to talk with youTube content through Chatbot.</p>
            <p>Technology used: <a href="https://www.djangoproject.com/">Django</a>, <a href="https://openai.com">Openai</a>, <a href="https://www.assemblyai.com">Assembly AI</a>, <a href="https://googleapis.com">Google Api</a></p>
        </div>
        <hr />
        <p class="last">Thanks for using it.</p>
    </div>
</div>

{% endblock %}
