{% include 'main.html' %} {% block content %}
<header>
    <div class="logo">Ask</div>
    <div class="pages">
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}">Welcome {{ user.username }}</a>
        {% else %}
        <a href="/">Welcome User</a>
        {% endif %}
        <a href="{% url 'index' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'signin' %}">Login</a>
    </div>
</header>
<div class="container">
    <div class="wrapper">
        <form method="post">
            <h1>Register</h1>
            {% csrf_token %}
            <label for="username">Username:</label>
            <input
                type="text"
                name="username" />
            <label for="password">Password:</label>
            <input
                type="password"
                name="password" />

            <label for="re-password">Confirm Password:</label>
            <input
                type="password"
                name="re-password" />
            <button type="submit">signup</button>
        </form>
    </div>
</div>

{% endblock %}
