<nav>
    <div class="logo">Ask</div>
    <div class="option">
        {% if user.is_authenticated %}
        <a href="{% url 'index' %}">Welcome {{user.username}}</a>
        {% else %}
        <a href="#">Welcome User</a>
        {% endif %}
        <a href="#">Home</a>
        <a href="#">Search</a>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">login</a>
        {% endif %}
    </div>
</nav>
<div class="container">
    <div class="wrapper">
        {% csrf_token %}
        <div class="content">
            <h4>Welcome To Ask</h4>
            <p>Gerenate high-qualtiy blog articlas from YouTube using Aritifcal Intelligence.</p>
            <p>Simply enter the link to the YouTube video below and let the AI create the content for you!</p>
        </div>
        <div class="question">
            <form action="">
                <label for="url">Enter Your Link</label>
                <input
                    type="text"
                    placeholder="Enter YouTube Link"
                    id="url" />
                <button
                    type="submit"
                    id="submit">
                    submit
                </button>
            </form>
        </div>

        <div id="overlay">
            <div
                id="loading"
                class="spinner"></div>
        </div>

        <div
            id="output"
            class="data"></div>

        <!-- <div class="box">
            <div class="title">Title: <span>Nice</span></div>
            <div class="chat">Ask</div>
        </div>
        <div class="chat-box">
            <div class="chats-message">
                <li class="right-message">
                    <span>hello</span>
                </li>
                <li class="left-message">
                    <span>hi there</span>
                </li>
                <li class="right-message">
                    <span>how are you</span>
                </li>
                <li class="left-message">
                    <span>Quite fine</span>
                </li>
                <li class="right-message">
                    <span>what is this</span>
                </li>
                <li class="left-message"><span>this is a chat ui</span></li>
            </div>
            <div class="ask">
                <form action="">
                    <input
                        type="text"
                        placeholder="Message"
                        id="Message"
                        name="question" />
                    <button>
                        <img
                            width="20"
                            height="20"
                            src="https://img.icons8.com/metro/26/sent.png"
                            alt="sent" />
                    </button>
                </form>
            </div>
        </div> -->
    </div>
</div>